.container {
  padding: 16px;
  width: 100%;
  overflow: auto;
  overflow: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(242, 237, 229);
}

.content {
  max-width: 600px;
  width: 100%;
}